.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 12.5rem;
}

.bicicleta-imagens img:first-child {
  min-width: 100%;
}
