.introducao-bg {
  background: #000;
  color: #fff;
  box-shadow: inset 0 -7.5rem white;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
}

.introducao-conteudo {
  align-self: flex-end;
  padding-bottom: 12.5rem;
}

.introducao img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 1.125;
  font-family: 'Poppins';
  font-weight: 600;
}

.introducao h1 span {
  color: #ffbb00;
}

.introducao p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b2b2b2;
  font-family: 'Roboto';
  font-weight: 400;
}

@media (max-width: 75rem) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao p {
    font-size: 1.125rem;
  }
}

@media (max-width: 50rem) {
  .introducao-bg {
    background-color: #111;
    padding-top: 3rem;
    box-shadow: inset 0 -3.75rem #fff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .introducao-conteudo {
    padding-bottom: 0;
  }
  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .introducao img {
    height: 18.75rem;
    width: 100%;
  }
}
