.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 5rem var(--cor-0), inset 0 -5rem var(--cor-0);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.tecnologia-conteudo {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
