.perguntas {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.perguntas h2 {
  margin-bottom: 3.75rem;
}

.perguntas dl > div {
  padding: 1.25rem;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.perguntas button::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}

.perguntas button::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url('../../img/icones/seta-abrir.svg') center;
  transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded='true'] {
  transform: rotate(180deg);
}

.perguntas dd {
  display: none;
}

.perguntas dd.active {
  display: block;
}

.perguntas dd {
  padding-left: 1.25rem;
  padding-top: 1rem;
  max-width: 80ch;
}

@media (max-width: 50rem) {
  .perguntas {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}
