.termos {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.termos p + h2 {
  margin-top: 2.5rem;
}

.termos p {
  max-width: 75ch;
  margin-bottom: 1.5rem;
}
